.single-tranding-container img{

    height: 350px;
    width: 350px;
}


.tranding-desc{

    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
  
}

@media only screen and (max-width: 600px) {
   
    .single-tranding-container img{

        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    
   

  }
 